<div class="d-flex justify-content-center bg-dark text-light" style="background-image: url('https://i.postimg.cc/G3ZfbM35/pexels-leonardho-1552252.jpg'); height: 100vh;">

    <div class="d-flex flex-column align-items-center">
        <h1 class="display-4 p-4">Welcome to 711 Fitness Club</h1>
        <p class="display-6">Elevate your Fitness</p>
        <p class="p-5 fs-5">Top of the notch fitness services for outstanding individuals.</p>
        <div class="d-flex flex-row p-5">
            <div class="card-group">
                <div class="card text-center m-4 img-fluid text-wrap" style="border-radius: 10%">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">About Us</h5>
                      <p class="card-text">Get some extra information about the Club.</p>
                      <a class="btn btn-dark m-3" role="button" routerLink="/info">Learn more</a>
                    </div>
                </div>                     
                <div class="card text-center m-4 img-fluid" style="border-radius: 10%">
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">Subscriptions</h5>
                      <p class="card-text">Different subscriptions to match your needs.</p>
                      <a class="btn btn-dark m-3" role="button" routerLink="/subscriptions">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

